<VirtualHost 192.168.45.10:80>
  ServerName atest.lan
  ServerAlias www.atest.lan 192.168.45.10
  DocumentRoot /var/www/atest

  ErrorLog /var/www/atest/logs/atest.error.log
  CustomLog /var/www/atest/logs/atest.access.log combined
  LogLevel info

  <Directory /var/www/atest/>
    Options Indexes FollowSymLinks
    AllowOverride All
    Require all granted
  </Directory>
</VirtualHost>